<h1><%= @machine.location %> Vending Machine</h1>
<p>Average Snack Price: <%= @machine.average_snack_price %> </p>
<section class="snacks">
  <ul>
    <% @machine.snacks.each do |snack|  %>
    <li><%= snack.name %> - $<%= snack.price.round(2) %></li>
    <% end %>
  </ul>

</section>
